@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&display=swap');
body {
  box-sizing: border-box;
  background: rgb(43, 42, 42);
  font-family: 'Bitter', serif;
  font-weight: 700;
}

#calculator {
  width: 400px;
  height: 600px;
  margin: auto;
  margin-top: 5%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(155, 155, 245);
  box-shadow: 0px 0px 2px 2px rgb(156, 156, 177);
}

.display-container {
  font-family: 'Orbitron', sans-serif;
  height: fit-content;
  padding: 10% 5%;
  width: 80%;
  font-size: 2.5em;
  margin: auto;
  text-align: end;
  vertical-align: center;
  background-color: rgb(81, 136, 187);
  border-radius: 10px;
}

.controls-container {
  display: grid;
  grid-template-areas:
  "number-7 number-8 number-9 plus-minus backspace"
  "number-4 number-5 number-6 multiply divide"
  "number-1 number-2 number-3 subtract equal"
  "clear number-0 decimal add equal";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 70%;
  font-size: 2rem;

}
button {
  background: rgb(173, 238, 173);
  margin: 6px;
  outline: none;
  border: none;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgb(108, 108, 248);
}
.number {
  background-color: rgb(226, 204, 144);
}

.btn-plus-minus {
  grid-area: plus-minus;
}
.btn-backspace {
  grid-area: backspace;
}
.divide {
  grid-area: divide;
}
.multiply {
  grid-area: multiply;
}
.subtract {
  grid-area: subtract;
}
.add {
  grid-area: add;
}
.decimal {
  grid-area: decimal;
  background-color: rgb(228, 163, 120);
}
.equal {
  grid-area: equal;
  background-color: rgb(121, 179, 218);
}
.clear {
  grid-area: clear;
  background-color: #a64452;
}


.btn-0 {
  grid-area: number-0;
}
.btn-1 {
  grid-area: number-1;
}
.btn-2 {
  grid-area: number-2;
}
.btn-3 {
  grid-area: number-3;
}
.btn-4 {
  grid-area: number-4;
}
.btn-5 {
  grid-area: number-5;
}
.btn-6 {
  grid-area: number-6;
}
.btn-7 {
  grid-area: number-7;
}
.btn-8 {
  grid-area: number-8;
}
.btn-9 {
  grid-area: number-9;
}
